.row {
    color: white;
    margin-left: 20px;
}

.row_posters {
    /* To allign in a rowise*/
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}
/* To hide the scroll bar */
.row_posters::-webkit-scrollbar {
    display: none;
}
.row_poster {
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    margin-right: 10px;
    /* make a transtion effect*/
    transition: transform 450ms;
}            
.row_poster:hover {
    transform: scale(1.08);
}    
/* TO make a NETFLIX ORIGINAL'S quite big than other */
.row__posterLarge {
 max-height: 250px;
}   
.row__posterLarge:hover {
    transform: scale(1.09);
}                                                              